.navbar-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #100f1a;
    width: 100%;
    height: 65px;
    align-items: center;
    padding: 0 20px 0 20px;

    @include tablet {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (min-width: 991px) and (max-width: 1019px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include sm-laptop {
        padding-left: 50px;
        padding-right: 50px;
    }

    @include lg-laptop {
        padding-left: 122px;
        padding-right: 50px;
        height: 85px;
    }

    @include LGdesktop{
        padding-left: 122px;
        padding-right: 122px;
        height: 85px;
    }

    .username-text {
        color: white;
        font-family: "Titillium Web", sans-serif;
        font-weight: 700;
        font-style: italic;

        @include tablet {
            font-size: 22px;
        }

        @include sm-laptop {
            font-size: 24px;
        }

        @include lg-laptop {
            font-size: 24px;
        }

        @include LGdesktop {
            font-size: 28px;
        }
    }

    .bi-list {
        font-size: 23px;
        color: rgb(255, 255, 255);
        cursor: pointer;

        &:hover, &:active{
            background-color: #201f35;
            border-radius: 10%;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    .navbar-options {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-right: 10px;
        width: 60%;
        height: 100%;
        gap: 25px;

        @media (max-width: 767px) {
            display: none;
        }
        
        @include tablet {
            width: 65%;
        }

        @include sm-laptop {
            width: 65%;
        }

        @include lg-laptop {
            width: 70%;
        }
        
        @include LGdesktop {
            width: 70%;
            gap: 65px;
        }

        label {
            font-family: "Titillium Web", sans-serif;
            font-weight: 500;
            font-style: normal;
            color: white;
            cursor: pointer;

            &:hover, &:active {
                color: #7b70b5;
            }

            @include tablet {
                font-size: 18px;
            }

            @include sm-laptop {
                font-size: 20px;
            }

            @include lg-laptop {
                font-size: 20px;
            }

            @include LGdesktop {
                font-size: 25px;
            }
        }
    }
}

.blur-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}