.details-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;

    .intro-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 30px;
        align-items: center;
        width: 100%;
        height: 55%;
        gap: 10px;

        .greet-text {
            color: #7a70b6;
            font-size: 20px;
            font-family: "Titillium Web", sans-serif;
            font-weight: 700;
            font-style: normal;
        }

        .name-wrap {
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            label {
                color: #000000;
                font-size: 50px;
                font-family: "Titillium Web", sans-serif;
                font-weight: 700;
                line-height: 50px;
            }
        }

        .desc-wrap {
            padding: 10px 15% 10px 15%;
            width: 100%;
            text-align: center;
            font-size: 17px;
            font-family: "Titillium Web", sans-serif;
            font-style: normal;
            opacity: 0.8;
        }

        .button-wrap {
            display: flex;
            width: 100%;
            justify-content: center;

            .see-projects-btn {
                cursor: pointer;
                transition: 0.5s ease-in-out;
                animation: sparklePink 1.5s infinite;
                padding: 10px;
                height: 50px;
                width: 130px;
                border-radius: 5px;
                background: #de164b;
                font-family: "Titillium Web", sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                text-align: center;
                color: white;
                box-shadow: 0 0.5rem 0.5rem rgba(#de164b, 0.5);
            }
        }
    }

    .picture-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: 100%;

        @media (max-height: 684px) {
            display: none;
        }

        .oval-bg {
            width: 100%;
            height: 60%;
            background: #7a70b6;
            border-top-left-radius: 70% 90%;
            border-top-right-radius: 70% 90%;

            @include lg-phone {
                border-top-left-radius: 50% 90%;
                border-top-right-radius: 50% 90%;
            }
        }

        .picture-border {
            position: absolute;
            width: 100%;
            height: 50%;

            @media (min-height: 685px) and (max-height: 730px) {
                height: 48%;
            }

            @include m-phone {
                height: 55%;
            }

            @include lg-phone {
                height: 58%;
            }

            .profile-pic {
                transform: translateX(-3%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: 0.5s ease-in-out;

                @include m-phone {
                    transform: translateX(-1%);
                }

                @include lg-phone {
                    transform: translateX(-1%);
                }
            }
        }
    }
}