.content.next {
    animation: slideLeft 0.5s ease-in-out;
}

.content.previous {
    animation: slideRight 0.5s ease-in-out;
}


.content {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    overflow: hidden;

    .title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 20px;

        // .line {
        //     width: 20%;
        //     border: 1px solid black;
        //     opacity: 0.8;
        // }

        label {
            font-family: "Titillium Web", sans-serif;
            font-weight: 600;
            font-size: 25px;
            color: #7b70b5;
            // background: linear-gradient(45deg, black, #7b70b5, #000000);
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }

    .basic-info-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding-top: 15px;
        padding-left: 15px;
        gap: 12px;

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;

            .icon {
                width: 40px;
                height: 40px;
            }

            .text {
                font-family: "Titillium Web", sans-serif;
                font-size: 19px;
                font-weight: 500;
                font-style: normal;
            }
        }

        .thoughts-wrap {
            font-family: "Nanum Gothic", sans-serif;
            font-weight: 400;
            font-size: 2vh;
            font-style: normal;
            width: 95%;
            height: 55%;
            overflow-y: scroll;
            text-align: justify;
            padding-right: 5px;
            scroll-behavior: smooth;
            scrollbar-color: #d7cfff #f1f1f1;
            scrollbar-gutter:inherit;

            @media (max-height: 730px) {
                font-size: 1.5vh;
            }
        }
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5%;
        padding: 25px 20px 0 20px;

        .bi-arrow-left-short {
            font-size: 20px;
        }

        .bi.none {
            visibility: hidden;
        }
    }

    .achievement-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;

        .achievements {
            cursor: pointer;
            bottom: calc(1% - 5px);
            width: 40px;
            height: 40px;
        }

        .achievement-text {
            animation: achievementAppearDisappear 7.0s forwards;
            font-family: "Titillium Web", sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 1px;
            z-index: 2;
        }
    }

    .education {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        padding-top: 20px;
        gap: 25px;
        width: 100%;
        height: 100%;

        .picture-wrap {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text-label-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 10%;
            width: 100%;
            font-family: "Titillium Web", sans-serif;
            font-style: normal;

            .text {
                font-weight: 700;
                font-size: 22px;
            }

            .text-year {
                font-size: 18px;
            }
        }

        .gif-wrap {
            height: 30%;
            width: 100%;
            z-index: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gif-border {
                width: 100%;
                height: 100%;

                img {
                    animation: walkingAnimation 20s ease-in-out infinite;
                    transform: translateX(-200%);
                    height: 80%;
                    object-fit: fill;
                }
            }
        }
    }

    .education.none {
        display: none;
    }

    .academic-achievements-wrap.closed {
        animation: achievementPaperClosed 0.5s forwards;
    }

    .academic-achievements-wrap.hidden {
        visibility: hidden;
    }

    .academic-achievements-wrap.open {
        animation: achievementPaperOpen 0.5s ease-in-out;
    }

    .academic-achievements-wrap {
        position: absolute;
        width: 85%;
        height: 60%;
        background: url("https://res.cloudinary.com/dqszzzdu1/image/upload/v1728658601/coffee-paper_ncsbep.png");
        background-size: cover;
        padding: 15px;
        border-radius: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .heading {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                font-family: "Shadows Into Light", cursive;
                font-weight: 700;
                font-style: normal;
                
                &.my-achievements-text {
                    font-size: 25px;
                    overflow: hidden; /* Ensures the content is not revealed until the animation */
                    white-space: nowrap; /* Keeps the content on a single line */
                    letter-spacing: 0; /* Adjust as needed */
                    animation: 
                        typingAnimation 1.5s steps(40, end),
                        typingEffect .75s step-end infinite;
                }

                &.x-button {
                    font-size: 20px;
                }
            }
        }

        .achievements-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            animation: fadeIn 1.5s ease-in-out;

            label {
                font-family: "Shadows Into Light", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
            }
        }
    }
}

.content.academics {
    justify-content: center;
}
