.content.next {
    animation: slideLeft 0.5s ease-in-out;

    @include tablet {
        animation: fadeIn 0.5s ease-in-out;
    }
}

.content.previous {
    animation: slideRight 0.5s ease-in-out;

    @include tablet {
        animation: fadeIn 0.5s ease-in-out;
    }
}

.content.academics {
    overflow: hidden;
    justify-content: center;
}


.content {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 0 10px 0;
    overflow: scroll;

    .title-wrap {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        gap: 10px;

        label {
            font-family: "Titillium Web", sans-serif;
            font-weight: 600;
            font-size: 25px;
            color: #7b70b5;
        }
    }

    .basic-info-wrap {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 15px;
        padding-left: 15px;
        gap: 12px;

        @media (min-width: 768px) {
            display: none;
        }

        .info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            
            .icon {
                width: 40px;
                height: 40px;
            }

            .text {
                font-family: "Titillium Web", sans-serif;
                font-size: 19px;
                font-weight: 500;
                font-style: normal;
            }
        }
    }

    .basic-info-wrap-wide {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: center;
        animation: openBook 1.5s ease forwards;

        @media (max-width: 767px) {
            display: none;
        }

        .left-wrap {
            overflow: scroll;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            padding: 10px;
            width: 400px;
            height: 100%;
            border-top: 2px solid black;
            border-left: 2px solid black;
            border-bottom: 8px solid black;
            background: linear-gradient(to right, #f7e0a6, #f7e0a6, #ffd66d);

            .text-wrap {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 100%;
                gap: 30px;
                padding: 10px;

                .info {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100px;
                    gap: 20px;

                    .icon {
                        width: 50px;
                        height: 50px;
                        box-shadow: 2px 2px 2px black;
                    }

                    .text {
                        font-family: "Titillium Web", sans-serif;
                        font-size: 19px;
                        font-weight: 500;
                        font-style: normal;
                        // text-shadow: 4px 4px 30px black;
                    }
                }
            }
        }

        .right-wrap {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 25px;
            width: 400px;
            height: 100%;
            border-left: 1px inset black;
            border-top: 2px solid black;
            border-right: 2px solid black;
            border-bottom: 8px solid black;
            background: linear-gradient(to left, #f7e0a6, #f7e0a6, #ffd66d);

            .text-wrap {
                width: 100%;
                height: 100%;
                text-align: left;
                overflow: scroll;
                font-family: "Nanum Gothic", sans-serif;
                font-weight: 400;
                font-size: 15px;
                font-style: normal;
                // text-shadow: 2px 2px 40px black;
            }
        }
    }

    .thoughts-wrap {
        display: block;
        padding: 3px 10px 3px 10px;
        width: 100%;
        height: 100%;
        overflow-y: scroll;

        @media (min-width: 768px) {
            display: none;
        }

        .thoughts-text {
            font-family: "Nanum Gothic", sans-serif;
            font-weight: 400;
            font-size: 17px;
            font-style: normal;
            text-align: justify;
            scroll-behavior: smooth;
            scrollbar-color: #d7cfff #f1f1f1;
            scrollbar-gutter:inherit;
        }
    }

    .arrows {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 5%;
        padding: 25px 20px 0 20px;

        @media (min-width: 768px) {
            display: none;
        }

        .bi-arrow-left-short {
            font-size: 20px;
        }

        .bi.none {
            visibility: hidden;
        }
    }

    .achievement-wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        z-index: 1;

        @media (min-width: 768px) {
            display: none;
        }

        .achievements {
            cursor: pointer;
            bottom: calc(1% - 5px);
            width: 40px;
            height: 40px;
        }

        .achievement-text {
            animation: achievementAppearDisappear 7.0s forwards;
            font-family: "Titillium Web", sans-serif;
            font-size: 12px;
            font-weight: 700;
            line-height: 1px;
            z-index: 2;
        }
    }

    .education {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        align-items: center;
        padding-top: 20px;
        gap: 25px;
        width: 100%;
        height: 100%;

        @media (min-width: 768px) {
            display: none;
        }

        .picture-wrap {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text-label-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 10%;
            width: 100%;
            font-family: "Titillium Web", sans-serif;
            font-style: normal;

            .text {
                font-weight: 700;
                font-size: 22px;
            }

            .text-year {
                font-size: 18px;
            }
        }

        .gif-wrap {
            height: 30%;
            width: 100%;
            z-index: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .gif-border {
                width: 100%;
                height: 100%;

                img {
                    animation: walkingAnimation 20s ease-in-out infinite;
                    transform: translateX(-200%);
                    height: 80%;
                    object-fit: fill;

                    @media (min-width: 426px) {
                        animation: walkingAnimationV2 40s ease-in-out infinite;
                    }
                }
            }
        }
    }

    .education.none {
        display: none;
    }

    .academic-achievements-wrap.closed {
        animation: achievementPaperClosed 0.5s forwards;
    }

    .academic-achievements-wrap.hidden {
        visibility: hidden;
    }

    .academic-achievements-wrap.open {
        animation: achievementPaperOpen 0.5s ease-in-out;
    }

    .academic-achievements-wrap {
        position: absolute;
        width: 300px;
        height: 60%;
        background: url("https://res.cloudinary.com/dqszzzdu1/image/upload/v1728658601/coffee-paper_ncsbep.png");
        background-size: cover;
        padding: 15px;
        border-radius: 10px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (min-width: 768px) {
            display: none;
        }

        .heading {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            label {
                font-family: "Shadows Into Light", cursive;
                font-weight: 700;
                font-style: normal;
                
                &.my-achievements-text {
                    font-size: 25px;
                }

                &.x-button {
                    font-size: 20px;
                }
            }
        }

        .achievements-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            height: 100%;
            animation: fadeIn 1.5s ease-in-out;

            label {
                font-family: "Shadows Into Light", cursive;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
            }
        }
    }
}