.slideshow-wrap {
    animation: fadeIn 0.5s ease-in-out;
    width: 100%;
    height: 120px;
    border-top: 1px solid rgb(131, 131, 131);
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;

    .arrow {
        font-size: 25px;
        opacity: 0.8;

        &:hover, &:active {
            opacity: 1;
            color: rgb(0, 0, 0);
        }
    }

    .arrow.hidden {
        visibility: hidden;
    }

    .ui-episodes {
        position: absolute;
        top: 8px;
        left: 10px;
        width: 23px;
        height: 23px;
        z-index: 2;
        opacity: 0.8;
    }

    .ui-episodes.disabled {
        pointer-events: none;
    }
}

.slideshow-preview {
    position: relative;
    text-align: center;
    align-items: center;
    width: 140px;
    height: 100px;
    border: 3px outset rgb(185, 185, 185);
    border-radius: 20px;
    overflow: hidden;

    .preview-picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        opacity: 0.7;
    }

    .preview-picture.blurred {
        transition: none;
        opacity: 0.3;
    }

    .preview-picture.img-2 {
        width: 85%;
        height: 100%;
    }

    .preview-picture.img-3 {
        width: 85%;
        height: 100%;
    }

    .preview-picture.img-4 {
        width: 100%;
        height: 100%;
    }

    .picture-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        color: rgb(0, 0, 0);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        font-family: "Titillium Web", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
    }

    .preview-picture.previous {
        animation: slideRight 0.5s ease-in-out;
    }

    .preview-picture.next {
        animation: slideLeft 0.5s ease-in-out;
    }
}